<div class="container py-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>Edit Exercise for <%= @workout_plan.goal %></h2>
      <%= render "form", workout_plan: @workout_plan, workout_exercise: @workout_exercise %>
    </div>
  </div>
</div>
